/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
.main {
  margin-top: 7em;
}

.center {
  justify-content: center;
  padding: 20px;
}

/* .ui.search.input {
  width: 100%;
  border-radius: 0 !important;
} */
.ui.search.prompt{
  border-radius: 0px;
}
.ui.icon.input{
  width: 100%;
}
/* .ui.input > input{
  border-radius: 1.5px solid rgba(34,36,38,0.15);
} */

.item {
  padding: 22px 0px !important;
}

i.icon {
  float: right;
  font-size: 20px;
  cursor: pointer;
}
.right{
  float: right;
}
.button {
  /* margin-top: '20px';
  padding: '20px';
  border-radius: '8px';
  background-color: '#f2f2f2'; */ 
  display: "flex";
  justify-content: "space-between";
  align-items: "center";
  margin-top: "20px";
}
.center-div {
  text-align: center;
}
/* .ui button {
  float: right;
} */
.content{
  font-size: 20px;
}
 div.description{
  font-size:18px ;
}
/*
div.content.header{
  text-align: center;
} */