.main {
  margin-top: 7em;
}

.center {
  justify-content: center;
  padding: 20px;
}

.ui.search.prompt{
  border-radius: 0px;
}
.ui.icon.input{
  width: 100%;
}
.item {
  padding: 22px 0px !important;
}

i.icon {
  float: right;
  font-size: 20px;
  cursor: pointer;
}
.right{
  float: right;
}
.button {
  /* margin-top: '20px';
  padding: '20px';
  border-radius: '8px';
  background-color: '#f2f2f2'; */ 
  display: "flex";
  justify-content: "space-between";
  align-items: "center";
  margin-top: "20px";
}
.center-div {
  
  text-align: center;
}
.content{
  font-size: 20px;
}
 div.description{
  font-size:18px ;
}
